/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #585858;
    padding: 15px 30px;
}

.logo h1 {
    color: #ff6600;
    font-size: 36px;
}

.logo h1 span {
    color: #00bfff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #00bfff;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-box input[type="text"] {
    display: block;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ff6600;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.search-box button {
    padding: 8px 8px;
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #e65c00;
}

/* Main container to align hero and login section side by side */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

/* Hero section */
.hero {
    text-align: left;
    width: 60%;
}

.hero h2 {
    color: #00bfff;
    font-size: 28px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.hero h1 {
    color: #ff6600;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    color: #00aeff;
    font-size: 20px;
    margin-bottom: 10px;
}

.sub-text {
    color: #ff3333;
    font-style: italic;
}

.get-started-btn {
    padding: 20px 40px;
    margin-top: 20px;
    display: inline-block;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #e65c00;
}

.login-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally */
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 50px;
   
    border-radius: 5px;
    background-color: #10b8bb;
}

.login-box h2 {
    text-align: center;;

}
 
.login-box form {
    margin-top: 20px;
}

.login-box form label {
    display: block;
    margin-bottom: 5px;
}

.login-box form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box form button {
    width: 100%;
    padding: 10px;
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box form p {
    text-align: center;
    margin-top: 10px;
}

/* Role selection box */
.login-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.login-btn {
    width: 70%; /* Adjust to fit two buttons in a row */
    padding: 20px;
    font-size: 25px;
    background-color: #c8621e;
    color: white;
    border: none;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.login-btn:hover {
    background-color: #993d00;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff6600;
}

/* Scrollable Boxes */
.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #333333;
}

.box {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 70vh;
}

.box h2 {
    font-size: 1.5em;
    color: #ff6600;
    margin-bottom: 10px;
}

.box p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding: 20px;
    }

    .hero, .login-section, .box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 36px;
    }

    .get-started-btn {
        font-size: 24px;
        padding: 15px 30px;
    }
    * {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
    
    .container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
    }
    
    h1 {
        text-align: center;
    }
    
    button {
        background-color: #FF5722;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #E64A19;
    }
    
    .job-list .job {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 20px;
        margin-top: 20px;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    input[type="text"], textarea {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        border: 1px solid #ccc;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }
    
    .navbar {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }
    
    .navbar h1 {
        color: #ff5722;
    }
    
    .nav-links button {
        background: none;
        border: none;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        margin-left: 20px;
    }
    
    .dashboard {
        width: 80%;
        margin: 20px auto;
        max-width: 800px;
        text-align: center;
    }
    
    .post-job-btn {
        background-color: #ff5722;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .job-card {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: left;
        position: relative;
    }
    
    .job-card h2 {
        color: #333;
        font-size: 18px;
    }
    
    .job-card .company {
        color: #333;
        font-weight: bold;
    }
    
    .status {
        color: green;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .job-card p {
        color: #666;
        font-size: 14px;
        margin: 10px 0;
    }
    
    .delete-job {
        background-color: #ff5722;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .social-share {
        margin-top: 15px;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .social-share .social-icon {
        color: #fff;
        background-color: #0073b1;
        padding: 8px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        text-decoration: none;
    }
    
    .candidates-btn {
        background-color: #28a745;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    

}